body {
  font-family: 'Open Sans', sans-serif;
  background-color: #EDEDF4;
}

.App {
  text-align: center;
}

.pomodoro-title {
  color: #A20021;
}

.time-displayed {
  font-size: 10rem;
}

.buttonsPM {
  margin-top: 60px;
}

.plus-minus-sign {

}

@media (max-width: 575.98px) {
  .pomodoro-section {
    width: 70%;

  }
  .pomodoro-section .pomodoro-title {
    font-size: 40px !important;
  }
}


